.AddSymbol {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff; /* Bootstrap blue */
  color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 1000;
  transition: background-color 0.3s;
}

.AddSymbol:hover {
  background-color: #0056b3; /* darker blue on hover */
}
